{{- define "main" -}}
<section class="pt-10 pb-0 md:pt-16 md:pb-28 lg:py-56">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <h1 class="leading-tight text-5xl md:text-bigger font-display font-bold lg:mx-16">Nosotros somos Neureta.</h1>
  </div>
</section>
<section class="pt-16 pb-2 md:pb-16 md:pt-28 lg:pb-32">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="grid md:grid-cols-4 gap-10">
      <div class="md:col-span-2 lg:mx-16">
        <h2 class="text-3xl font-display font-bold mb-4">Promovemos la formación educativa</h2>
        <p class="leading-relaxed text-lg">Nuestro objetivo es brindar recursos educativos que crubran las necesidades de los especialistas del desarrollo infantil, promoviendo una formación del profesorado por medio de diversos talleres y materiales.</p>
      </div>
      <div class="md:col-span-2 inline-flex justify-center">
        <div class="relative md:-mt-20 w-full md:w-90 pb-110">
          <img src="https://images.unsplash.com/photo-1583468991267-3f068b607ae1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1213&q=80" class="absolute object-cover w-full h-full rounded" alt="Como promovemos el aprendizaje" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-16 pb-6 md:pt-16 md:pb-6 lg:pt-28 lg:pb-32">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="grid md:grid-cols-5">
      <div class="col-auto lg:col-span-2"></div>
      <div class="md:col-span-5 lg:col-span-3 md:mr-32 lg:mr-28 xl:mx-28">
        <h2 class="text-3xl font-display font-bold mb-4">Experiencia y calidad a tu alcance</h2>
        <p class="leading-relaxed text-lg mb-4">Nuestra experiencia en educación nos permite brindarte las herramientas adecuadas para tu aprendizaje, así como contenido de calidad al alcande de un clic.</p>
        <a href="/" class="inline-flex justify-center text-base md:text-normal text-white bg-primary-600 hover:bg-primary-700 px-10 py-3 rounded">
          Ver cursos
        </a>
      </div>
    </div>
    <div class="pt-20 pb-0 md:py-20 grid md:grid-cols-2 lg:grid-cols-12 lg:grid-rows-12 gap-4 lg:gap-8">
      <div class="image-1 relative pb-56 lg:pb-124">
        <img src="https://images.unsplash.com/photo-1540317580384-e5d43616b9aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="absolute object-cover w-full h-full rounded" alt="Imagen de Neureta" />
      </div>
      <div class="image-2 relative pb-56 lg:pb-56">
        <img src="https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" class="absolute object-cover w-full h-full rounded" alt="Imagen de Neureta" />
      </div>
      <div class="image-3 relative pb-56 lg:pb-77">
        <img src="https://images.unsplash.com/photo-1591115765373-5207764f72e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="absolute object-cover w-full h-full rounded" alt="Imagen de Neureta" />
      </div>
      <div class="image-4 relative pb-56 lg:pb-124">
        <img src="https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="absolute object-cover w-full h-full rounded" alt="Imagen de Neureta" />
      </div>
    </div>
  </div>
</section>
<Offer />
<section class="py-16 md:py-32 bg-gray-100">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="lg:mx-8 xl:mx-16">
      <div class="grid lg:grid-cols-6">
        <div class="lg:col-span-4">
          <h1 class="text-2xl md:text-4xl font-bold font-display leading-tight">Brindamos cursos y asesorías a empresas, instituciones o centros educativos</h1>
        </div>
      </div>
      <hr class="border-2 border-black mt-4 mb-8" />
      <div class="grid lg:grid-cols-3 gap-5 mb-24">
        <div class="md:mx-8 lg:mx-0 bg-transparent rounded-lg">
          <div class="flex flex-col md:flex-row md:items-center mb-2 md:w-7/12 lg:w-auto">
            <SvgIcon type="learningOnline" class="mb-2 md:mb-0 w-12 md:mr-6" viewBox="0 0 42 42" />
            <span class="inline-block font-bold font-display w-full">
              Diplomas
            </span>
          </div>
          <p class="md:ml-16">Cuando los miembros de tu organización hayan completado los cursos, obtendrán un diploma de asistencia.</p>
        </div>
        <div class="md:mx-8 lg:mx-0 bg-transparent rounded-lg">
          <div class="flex flex-col md:flex-row md:items-center mb-2 md:w-7/12 lg:w-auto">
            <SvgIcon type="learningOnline" class="mb-2 md:mb-0 w-12 md:mr-6" viewBox="0 0 42 42" />
            <span class="inline-block font-bold font-display w-full">
              Cursos a tu medida
            </span>
          </div>
          <p class="md:ml-16">Adaptamos nuestros cursos a tus necesidades para así brindarte un aprendizaje personalizado.</p>
        </div>
        <div class="md:mx-8 lg:mx-0 bg-transparent rounded-lg">
          <div class="flex flex-col md:flex-row md:items-center mb-2 md:w-7/12 lg:w-auto">
            <SvgIcon type="learningOnline" class="mb-2 md:mb-0 w-12 md:mr-6" viewBox="0 0 42 42" />
            <span class="inline-block font-bold font-display w-full">
              Atención personalizada
            </span>
          </div>
          <p class="md:ml-16">Nosotros estamos para ayudarte, a ti y a tu organización. ¿Necesitas algún curso que no este en nuestra lista? </p>
        </div>
      </div>
      <div class="text-center">
        <a class="inline-block text-center text-white bg-primary-600 hover:bg-primary-700 px-4 py-3 w-64 rounded" href="/">Me interesa</a>
      </div>
    </div>
  </div>
</section>
<section class="pt-16 md:t-32 pb-10">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="lg:mx-8 xl:mx-16">
      <div class="grid lg:grid-cols-2 gap-10">
        <div class="lg:mr-8">
          <h2 class="text-3xl md:text-4xl font-display font-bold lg:mr-40 mb-6 leading-tight">Como surge el proyecto Neureta</h2>
          <p class="text-gray-600 leading-loose mb-4">
            <span class="font-bold">NEUR</span>, proviene de neuronas, células encargadas de transmitir el aprendizaje, mientras que <span class="font-bold">ETA</span>, proviene de IRETA que en purépecha significa pueblo.
          </p>
          <p class="text-gray-600 leading-loose mb-10">Por lo que, Neureta es un pueblo o sociedad de neuronas encargadas de transmitir conocimiento en el ser humano.</p>
          <span class="inline-block uppercase font-display font-bold tracking-wider mb-4">Nuestra visión</span>
          <p class="text-gray-600 leading-loose mb-8">Ser una plataforma que comple con las diferentes demandas en el ámbito del desarrollo infantil, donde todos los participantes tendrán la certeza de acudir a ella confiados en encontrar diversas soluciones a sus problemáticas profesionales.</p>
        </div>
        <div class="hidden md:block relative w-full pb-90">
          <img src="https://images.unsplash.com/photo-1586694680938-9682c9e1f736?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="absolute object-cover w-full h-full rounded-lg xl:rounded-full" alt="Proyecto Neureta" />
        </div>
      </div>
    </div>
    <div class="pt-6 lg:pt-32 pb-0">
      <div class="flex flex-col-reverse md:flex-row lg:mx-8 xl:mx-16">
        <div class="relative w-full h-105 pb-105 md:w-40 md:h-40 md:pb-40 lg:w-80 lg:h-105 lg:pb-105 flex-shrink-0 md:mr-6 lg:mr-10">
          <img src="https://images.unsplash.com/photo-1526548185067-231ab81c7178?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="absolute object-cover w-full h-full rounded-lg" alt="Imagen de Gabriela Gaspar" />
        </div>
        <div class="flex flex-col justify-center">
          <span class="inline-block font-display font-bold text-2xl md:text-3xl mb-4">Hola, soy Gabriela Gaspar</span>
          <p class="leading-loose lg:text-lg xl:text-xl text-gray-600 mb-6 md:mb-0">Maestra de Educación Especial en México y fundadora de Neureta, actualmente me dedico a impartir talleres referentes a educación con diferentes temáticas desde el ámbito de las neurociencias. Considero que uno de los propósitos más fundamentales en todo profesor es el conocimiento del cerebro para poder comprender sus diferentes procesos y así, poder intervenir con mayor eficacia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{- end -}}