<!DOCTYPE html>
<html lang="ES-MX" class="font-rubik leading-normal antialiased border-t-4 border-primary-800 bg-primary-800">
  {{- partial "head.html" . -}}
  <body class="bg-white">
    {{- partial "header.html" . -}}
    <main>
      {{- block "main" . -}}{{- end -}}
    </main>
    <svg class="fill-current text-primary-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1388.26 70.36">
      <path d="M1388.26,70.36C1236.29,27.86,982.08,0,694.13,0S152,27.86,0,70.36Z"/>
    </svg>
    {{- partial "sections/cta-experience.html" . -}}
    {{- partial "footer.html" . -}}
    <script>
      WebFontConfig = {
        custom: {
          urls: [
            'https://fonts.googleapis.com/css?family=Inter:400,500,600|Rubik:400,500,600&display=swap',
          ],
        },
      };
      (function(d) {
         var wf = d.createElement('script'), s = d.scripts[0];
         wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
         wf.async = true;
         s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </body>
</html>