<!DOCTYPE html>
<html lang="ES-MX" class="font-rubik leading-normal antialiased border-t-4 border-primary-800 bg-primary-800">
  {{- partial "head.html" . -}}
  <body class="bg-white">
    <div id="app">
      {{- partial "header.html" . -}}
      <main>
        {{- block "main" . -}}{{- end -}}
      </main>
      <svg class="fill-current text-primary-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1388.26 70.36">
        <path d="M1388.26,70.36C1236.29,27.86,982.08,0,694.13,0S152,27.86,0,70.36Z"/>
      </svg>
      {{- partial "sections/cta-experience.html" . -}}
      {{- partial "footer.html" . -}}
      <div v-show="showCart" :class="{ 'force-block': showCart }" class="hidden bg-white p-12 w-110 h-screen fixed top-0 right-0 shadow-lg">
        <div class="w-full inline-flex align-middle justify-between text-xl font-bold mb-1 font-display">
          Carrito de compras
          <button v-on:click="toggleShow()">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <hr class="border border-gray-100 mb-4" />
        <div class="mb-2">
          <ul class="flex flex-col">
            <li v-for="(item, index) in cart" :key="index" class="flex mb-4">
              <div class="relative w-16 h-16 pb-16 mr-3">
                <img
                  class="absolute object-cover w-full h-full rounded-md"
                  :src="`{{ .Site.BaseURL}}/${item.featured_image}`" />
              </div>
              <div class="flex flex-col align-middle justify-center">
                <span class="font-semibold">${item.name}</span>
                <span class="text-base">Cantidad: ${item.quantity}</span>
              </div>
            </li>
          </ul>
        </div>
        <button v-on:click.prevent="goToCheckout()" class="inline-block text-center text-white bg-primary-600 hover:bg-primary-700 px-4 py-3 w-full rounded">Completar el pago</button>
      </div>
    </div>
    <script>
      WebFontConfig = {
        custom: {
          urls: [
            'https://fonts.googleapis.com/css?family=Inter:400,500,600|Rubik:400,500,600&display=swap',
          ],
        },
      };
      (function(d) {
         var wf = d.createElement('script'), s = d.scripts[0];
         wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
         wf.async = true;
         s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
    {{ .Scratch.Set "hash" (sha256 now.Unix) }}
    <script type="text/javascript">
      window.skey = "{{ .Site.Params.STRIPE_PUBLICKEY }}";
      window.successUrl = "{{ .Site.Params.STRIPE_SUCCESS_URL }}";
      window.cancelUrl = "{{ .Site.Params.STRIPE_CANCEL_URL }}";
    </script>
    <script type="text/javascript" src="/js/manifest.js?id={{ .Scratch.Get "hash" }}"></script>
    <script type="text/javascript" src="/js/vendor.js?id={{ .Scratch.Get "hash" }}"></script>
    {{- block "scripts" . -}}{{- end -}}
  </body>
</html>