/* Base */
@import "tailwindcss/base";

/* Components */
@import "tailwindcss/components";

/* Utilities */
@import "tailwindcss/utilities";
/* purgecss start ignore */
@import "glider-js/glider.min.css";
/* purgecss end ignore */

@screen lg {
  .image-1 { grid-area: 1 / 1 / 9 / 5; }
  .image-2 { grid-area: 9 / 2 / 12 / 5; }
  .image-3 { grid-area: 2 / 5 / 6 / 9; }
  .image-4 { grid-area: 6 / 5 / 13 / 13; }
}

/* Prose */
.prose {
  line-height: theme('lineHeight.relaxed');
}

.prose p {
  margin-bottom: theme('margin.4');
}

.prose b {
  font-weight: theme('fontWeight.bold');
}