{{- define "main" -}}
<section class="pt-6 md:pt-12 pb-0 mb-4 md:mb-10 overflow-hidden">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="px-8 md:px-12 py-8 grid md:grid-cols-2 bg-red-100 rounded-lg">
      <div class="mb-6 md:mb-0">
        <h1 class="text-3xl font-display font-bold">Nuestros cursos</h1>
        <p class="text-black text-opacity-50 text-lg font-display font-bold mb-6 md:mb-20">Explora a través de nuestro catálogo y encuentra el curso adecuado para tí</p>
        <p>¿No encontraste el curso que buscabas? <a class="font-bold text-black text-opacity-50 hover:text-opacity-100 border-b-2 border-black border-opacity-50 hover:border-opacity-100" href="https://wa.me/5214521127809">Escríbenos</a></p>
      </div>
      <div class="relative py-32 md:py-0">
        <ul class="absolute flex top-0 right-0 md:-mr-18 lg:-mr-10 md:-mt-16 lg:-mt-2 xl:-mt-18">
          <li class="hidden lg:block">
            <img class="w-full" src="/images/person-man.svg" alt="El aprendizaje en línea es una de las fuentes de aprendizaje más adoptadas por estudiantes" />
          </li>
          <li>
            <img class="w-full" src="/images/person-woman.svg" alt="La incursión de las mujeres en tecnología ha ayudado al crecimiento en igualdad de oportunidades" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="pb-20 md:pb-30">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="grid md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
      <!-- <aside class="hidden md:block col-span-1 relative">
        <div class="sticky top-0 pt-4">
          <span class="inline-block text-lg font-display font-bold mb-4">Categorías</span>
          <ul class="flex">
            <li>
              <a class="inline-flex items-center w-full px-4 py-2 bg-primary-100 bg-opacity-50 hover:bg-primary-50 hover:bg-opacity-100 rounded mb-2 last:mb-0" href="/">
                <span class="w-2 h-2 bg-black rounded mr-2"></span>
                Todos
              </a>
              <a class="inline-flex items-center w-full px-4 py-2 hover:bg-gray-50 rounded mb-2 last:mb-0" href="/">
                <span class="w-2 h-2 bg-primary-300 rounded mr-2"></span>
                Psicología
              </a>
              <a class="inline-flex items-center w-full px-4 py-2 hover:bg-gray-50 rounded mb-2 last:mb-0" href="/">
                <span class="w-2 h-2 bg-secondary-300 rounded mr-2"></span>
                Neurociencia
              </a>
              <a class="inline-flex items-center w-full px-4 py-2 hover:bg-gray-50 rounded mb-2 last:mb-0" href="/">
                <span class="w-2 h-2 bg-yellow-300 rounded mr-2"></span>
                Logopedia
              </a>
            </li>
          </ul>
        </div>
      </aside> -->
      <div class="md:col-span-4 xl:col-span-6 pt-4">
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 gap-y-5">
          {{- range .Pages -}}
          <article class="border last:mr-0 bg-white p-3 border-gray-200 rounded">
            <div class="relative pb-40 mb-4">
              <img loading="lazy" class="absolute w-full h-full object-cover rounded" src="{{ .Params.featured_image }} " alt="{{ .Params.Title }}" />
            </div>
            <div class="mb-4">
              <h4 class="inline-block text-lg font-display font-bold mb-2 leading-snug">
                {{ .Params.Title }}
              </h4>
              <p class="text-gray-600 mb-4">{{ .Params.Description }}</p>
              <!-- <ul class="flex mb-4">
                <li class="mr-1">
                  <span class="bg-pink-100">psicología</span>
                </li>
              </ul> -->
            </div>
            <div class="flex">
              <a href="{{ .Permalink }}" class="w-full inline-flex items-center justify-center text-white bg-primary-600 hover:bg-primary-700 px-4 py-3 rounded mr-2">
                Ver más
              </a>
              <!-- <button v-on:click.prevent='add({
                "featured_image": "{{ .Params.featured_image }}",
                "name": "{{ .Params.Title }}",
                "type": "course",
                "price": "{{ .Params.stripe_id }}",
                "quantity": 1,
              })' class="inline-flex items-center justify-center text-white bg-gray-50 hover:bg-gray-200 px-4 py-3 w-1/3 rounded">
                <svg type="cart" class="fill-current text-black w-6" viewBox="0 0 20 20">
                  <g>
                    <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                  </g>
                </svg>
              </button> -->
            </div>
          </article>
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end -}}

{{- define "scripts" -}}
<script type="text/javascript" src="/js/courses.js?id={{ .Scratch.Get "hash" }}"></script>
{{- end -}}