{{- define "main" -}}
{{- $allOpeningDates := index $.Site.Data "opening-dates" -}}
{{- $dates := .Params.next_dates -}}
<section class="pb-10 md:py-10 lg:pt-10 lg:pb-20 border-b border-gray-300 border-opacity-50">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="grid lg:grid-cols-10 xl:grid-cols-12 gap-6 md:gap-10">
      <div class="lg:col-span-6 xl:col-span-8 flex flex-col md:flex-row items-center">
        <div class="w-full flex mb-4 md:mb-0">
          <div class="flex-shrink-0 relative w-24 h-24 pb-24 md:w-64 md:h-64 lg:w-56 lg:h-56 md:pb-32 mr-6">
            <img class="object-cover absolute w-full h-full rounded" src="{{ .Params.featured_image }}" alt="{{ .Params.Title }}" />
          </div>
          <div class="flex flex-col w-full justify-center">
            <span class="inline-block tracking-wider text-base font-bold text-primary-600 uppercase">
              Curso
            </span>
            <h1 class="text-darken text-1.5xl md:text-3xl lg:text-2xl font-bold">{{ .Params.Title }}</h1>
            <p class="hidden md:flex text-gray-700 leading-relaxed mb-8">{{ .Params.Description }}</p>
            <div class="hidden md:flex items-center">
              {{ $instructor := .Params.instructor }}
              {{- with $.Site.GetPage "instructors" -}}
              {{- with (index (.Resources.Match (index (last 1 (split $instructor "/")) 0)) 0) -}} <!-- instructors/{instructor}.md -->
              <img src="{{ .Params.avatar }}" class="w-12 h-12 rounded-full mr-4" alt="{{ .Title }}" />
              <div class="flex flex-col">
                <span class="inline-block text-sm text-primary-600 font-bold tracking-wider uppercase">
                  Impartido por
                </span>
                <span class="inline-block font-bold">{{ .Title }}</span>
              </div>
              {{- end -}}
              {{- end -}}
            </div>
          </div>
        </div>
        <div class="block">
          <p class="flex md:hidden text-gray-700 leading-relaxed mb-4 md:mb-8">{{ .Params.Description }}</p>
          <div class="flex md:hidden items-center">
            {{- with $.Site.GetPage "instructors" -}}
            {{- with (index (.Resources.Match (index (last 1 (split $instructor "/")) 0)) 0) -}} <!-- instructors/{instructor}.md -->
            <img src="{{ .Params.Avatar }}" class="w-12 h-12 rounded-full mr-4" alt="{{ .Title }}" />
            <div class="flex flex-col">
              <span class="inline-block text-sm text-primary-600 font-bold tracking-wider uppercase">Impartido por</span>
              <span class="inline-block font-bold">{{ .Title }}</span>
            </div>
            {{- end -}}
            {{- end -}}
          </div>
        </div>
      </div>
      {{- with $dates -}}
      <div class="lg:col-span-4 xl:col-span-4 bg-primary-600 rounded p-6">
        {{- range first 1 . -}}
        <span class="block text-center text-opacity-75 font-bold md:text-xl lg:text-normal xl:text-lg text-white">Únete a nuestro próximo curso</span>
        <p class="text-center text-white text-2xl md:text-4xl font-semibold mb-8">
          ${{ .price }} <span class="text-lg font-normal">MXN</span>
        </p>
        {{- if eq .is_online "true" -}}
        <p class="leading-snug mb-6 text-white">
          <span class="block text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
            Ubicación
          </span>
          {{ .location }}
        </p>
        {{- else -}}
        <p class="leading-snug mb-6 text-white">
          <span class="block text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
            Modalidad
          </span>
          En línea
        </p>
        {{- end -}}
        <div class="grid grid-cols-2 gap-10 mb-6">
          <p class="leading-snug text-white">
            <span class="block text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Fecha de inicio
            </span>
            {{ .start_date }}
          </p>
          <p class="leading-snug text-white">
            <span class="block text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Duración
            </span>
            {{ .duration.time }} {{ i18n .duration.type .duration.time }}
          </p>
        </div>
        <div class="flex flex-col lg:flex-row">
          <a class="inline-flex items-center justify-center px-8 py-3 md:py-4 md:px-8 bg-white hover:shadow-md text-black hover:text-primary-700 rounded w-full mr-3 mb-2 lg:mb-0 transition delay-100 duration-200" href="/">
            Comprar ahora
          </a>
          <a class="inline-flex justify-center w-full lg:w-32 px-8 py-3 md:py-4 md:px-8 bg-white bg-opacity-20 border border-white text-white border-opacity-10 hover:bg-opacity-30 rounded hover:shadow-md transition delay-100 duration-300" href="/" aria-label="Agregar al carrito">
            <svg class="fill-current text-white w-6 h-6 mr-2 lg:mr-0" viewBox="0 0 20 20">
              <g>
                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
              </g>
            </svg>
            <span class="lg:hidden">Agregar al carrito</span>
          </a>
        </div>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </div>
</section>
<section class="bg-gray-100 bg-opacity-25">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="grid lg:grid-cols-12 xl:gap-10">
      <div class="lg:col-span-8 py-10 lg:pr-10 lg:pt-12 lg:pb-40">
        <div class="mb-8">
          <span class="inline-block font-bold tracking-wider uppercase text-base mb-4">Contenido del curso</span>
          <div class="text-gray-600 leading-relaxed prose mb-4">{{ .Content }}</div>
        </div>
        <div class="mb-4">
          <span class="inline-block font-bold tracking-wider uppercase text-base mb-4">Programa</span>
          <ul>
            {{- with .Params.program -}}
            {{- range . -}}
            <li class="border-2 border-primary-700 rounded px-8 py-4 mb-4 last:mb-0 shadow-md">
              <div class="flex flex-col">
                <div class="flex justify-between">
                  <span class="inline-block text-gray-500 font-bold text-base tracking-wider uppercase">
                    {{ .label }}
                  </span>
                  {{- with .lessons -}} 
                  <p class="inline-flex items-center text-gray-500 font-bold text-base tracking-wider uppercase">
                    <svg class="fill-current w-4 h-4 mr-2" viewBox="0 0 18 18">
                      <path
                        stroke="#868686"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        fill="none"
                        d="M5.25 5.25h7.5m1.5 3H3.75h10.5zm0 0a1.5 1.5 0 011.5 1.5v4.5a1.5 1.5 0 01-1.5 1.5H3.75a1.5 1.5 0 01-1.5-1.5v-4.5a1.5 1.5 0 011.5-1.5h10.5zm0 0v-1.5a1.5 1.5 0 00-1.5-1.5l1.5 3zm-10.5 0v-1.5a1.5 1.5 0 011.5-1.5l-1.5 3zm1.5-3v-1.5a1.5 1.5 0 011.5-1.5h4.5a1.5 1.5 0 011.5 1.5v1.5h-7.5z"
                      ></path>
                    </svg>
                    <span class="mr-2">{{ len . }} Lecciones</span> 
                  </p>
                  {{- end -}}
                </div>
                <span class="block text-primary-700 text-lg font-bold mb-1">{{ .title }}</span>
                <p class="text-gray-600 leading-relaxed lg:mr-14 xl:mr-40 mb-6">{{ .description }}</p>
                <ul>
                  {{- with .lessons -}}
                  {{- range . -}}
                  <li class="font-bold pb-2 last:pb-0">{{ .title }}</li>
                  {{- end -}}
                  {{- end -}}
                </ul>
              </div>
            </li>
            {{- end -}}
            {{- end -}}
          </ul>
        </div>
        <p class="leading-relaxed">
          ¿Tienes dudas sobre el contenido del curso? <a class="font-bold underline" href="https://wa.me/5214521127809">Escríbenos</a>
        </p>
      </div>
      <aside class="lg:col-span-4 pt-4 pb-10 lg:px-8 lg:py-12 lg:border-l border-gray-300 border-opacity-50">
        <span class="inline-block text-lg font-bold mb-4">Información Adicional</span>
        <div class="mb-5 md:mb-10 lg:mb-20 flex flex-col md:flex-row lg:flex-col">
          <div class="mb-4 mr-16 lg:mr-0">
            <p class="inline-flex items-center font-bold">
              <svg class="fill-current w-6 mr-2" viewBox="0 0 24 24">
                <g>
                  <path
                    fill="#000"
                    fill-rule="evenodd"
                    d="M8.558 11.823c-.97.51-1.477 1.097-1.61 1.493a1 1 0 01-1.897-.632c.368-1.104 1.403-2.016 2.578-2.632C8.843 9.416 10.377 9 12 9c1.624 0 3.158.416 4.371 1.052 1.175.616 2.21 1.528 2.578 2.632a1 1 0 01-1.897.632c-.132-.396-.638-.984-1.61-1.493C14.51 11.334 13.294 11 12 11c-1.294 0-2.51.334-3.442.823z"
                    clip-rule="evenodd"
                    ></path>
                  <path
                    fill="#000"
                    fill-rule="evenodd"
                    d="M12 4a2 2 0 100 4 2 2 0 000-4zM8 6a4 4 0 118 0 4 4 0 01-8 0zM2.245 12.345A1 1 0 013 12h18a1 1 0 01.99 1.141l-1 7a1 1 0 01-1.98-.282L19.847 14H4.153l.837 5.859a1 1 0 01-1.98.282l-1-7a1 1 0 01.235-.796z"
                    clip-rule="evenodd"
                    ></path>
                </g>
              </svg>
              Modalidad
            </p>
            {{- with .Params.extra -}}
            <p class="ml-8 leading-none">{{ .modality_info }}</p>
            {{- end -}}
          </div>
          <div class="mb-4">
            <p class="inline-flex items-center font-bold">
              <svg class="fill-current w-6 mr-2" viewBox="0 0 24 24">
                <g>
                  <path
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    fill="none"
                    d="M12 8v4l3 3-3-7zm9 4a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </g>
              </svg>
              Duración del curso
            </p>
            {{- with .Params.extra -}}
            <p class="ml-8 leading-relaxed mb-2">{{ .duration_info }}</p>
            {{- end -}}
          </div>
        </div>
        {{- with .Params.whats_include -}}
        <span class="inline-block text-lg font-bold mb-4">Que incluye el curso</span>
        <div class="mb-10 lg:mb-20">
          <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1">
            {{- range . -}}
            <li class="inline-flex items-center md:items-start lg:items-center mr-4 last:mr-0 mb-3 last:mb-0">
              <svg class="fill-current w-4 md:mt-1 lg:mt-0 mr-2" viewBox="0 0 16 16">
                <path
                  fill="#2DA960"
                  fill-rule="evenodd"
                  d="M8 16A8 8 0 108-.001 8 8 0 008 16zm3.707-9.293a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="leading-tight">{{ .title }}</span>
            </li>
            {{- end -}}
          </ul>
          {{- end -}}
        </div>
        {{- with $dates -}}
        {{- $dateCount := len (after 1 .) -}}
        <span class="inline-block text-lg font-bold mb-4">Próximas fechas</span>
        {{- if eq $dateCount 0 -}}
        <p class="py-3 px-4 leading-none bg-gray-50 rounded">No hay más fechas disponibles</p>
        {{- else -}}
        <div class="mb-10">
          <table class="m-0 w-full">
            <thead class="border-b">
              <tr class="text-base text-gray-600">
                <th class="text-left font-medium">Fecha</th>
                <th class="text-left font-medium">Modalidad</th>
                <th aria-label="Inscripción"></th>
              </tr>
            </thead>
            <tbody>
              {{- range after 1 . -}}
              <tr class="text-base">
                <td class="py-2 pr-3">{{ .start_date }}</td>
                <td class="py-2 pr-3">{{ .mode }} </td>
                <td class="py-2 ">
                  <button class="text-white w-full px-4 py-2 text-base rounded bg-primary-600">Inscribirme</button>
                </td>
              </tr>
              {{- end -}}
            </tbody>
          </table>
        </div>
        {{- end -}}
        {{- end -}}
      </aside>
    </div>
  </div>
</section>
{{- end -}}