<footer class="py-16 bg-primary-800">
  <div class="container mx-auto px-6 md:px-8 lg:px-6 max-w-screen-xl">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="flex flex-col lg:block justify-center lg:justify-start md:text-left lg:col-span-1">
        <img class="h-10 opacity-75" src="/images/single-logotype.svg" alt="Neureta" />
        <p class="mt-8 text-center lg:text-left text-white text-opacity-75 md:text-base leading-6 xl:mr-20">
          Formación y orientación para optimizar el futuro  y autonomía infantil
        </p>
        <div class="mt-8 flex justify-center lg:justify-start">
          <a href="https://www.facebook.com/neureta.com.mx/" class="text-gray-300 hover:text-gray-100">
            <span class="sr-only">Facebook</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <path fillRule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clipRule="evenodd"></path>
            </svg>
          </a>
          <a href="https://instagram.com/neureta.oficial" class="ml-6 text-gray-300 hover:text-gray-100">
            <span class="sr-only">Instagram</span>
            <svg class="h-6 w-6" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
          </a>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-5 gap-8 lg:mt-0 lg:col-span-2">
        <div class="md:grid md:grid-cols-3 md:gap-10 col-span-3">
          <div>
            <h4 class="text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Empresa
            </h4>
            <ul class="mt-4">
              <li>
                <a href="/cursos" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Cursos
                </a>
              </li>
              <li class="mt-4">
                <a href="/tienda" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Tienda
                </a>
              </li>
              <li class="mt-4">
                <a href="/nosotros" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Nosotros
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h4 class="text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Legal
            </h4>
            <ul class="mt-4">
              <li>
                <a href="/terminos" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Condiciones
                </a>
              </li>
              <li class="mt-4">
                <a href="/privacidad" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Privacidad
                </a>
              </li>
              <li class="mt-4">
                <a href="/cookies" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Cookies
                </a>
              </li>
            </ul>
          </div>
          <div class="hidden md:block">
            <h4 class="text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Soporte
            </h4>
            <ul class="mt-4">
              <li class="hidden">
                <a href="/faq" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50 uppercase">
                  Faq
                </a>
              </li>
              <li class="mt-4">
                <a href="https://wa.me/5214521127809" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Ventas
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-2">
          <div class="block md:hidden">
            <h4 class="text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Soporte
            </h4>
            <ul class="mt-4">
              <li>
                <a href="/faq" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50 uppercase">
                  Faq
                </a>
              </li>
              <li class="mt-4">
                <a href="https://wa.me/5214521127809" class="md:text-base font-bold leading-6 text-gray-200 hover:text-gray-50">
                  Ventas
                </a>
              </li>
            </ul>
          </div>
          <div class="hidden md:block mt-12 md:mt-0">
            <h4 class="text-sm leading-5 font-semibold tracking-wider text-white text-opacity-50 uppercase">
              Contacto
            </h4>
            <p class="mt-4 md:text-base text-white">
              Uruapan, Michoacán, C.P. 60000, México.
            </p>
            <ul class="mt-4">
              <li class="md:text-base text-white">
                <span class="font-bold">Teléfono: </span> (452) 112-78-09
              </li>
              <li class="md:text-base text-white">
                <span class="font-bold">Email: </span> neureta@outlook.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-white border-opacity-25 pt-4">
      <div class="text-base leading-6 text-gray-300 xl:text-center flex flex-col md:flex-row items-center md:justify-between">
        <p class="text-center md:text-left">&copy; 2020 Neureta. Todos los derechos reservados.</p>
        <ul class="flex mt-2 md:mt-0">
          <li class="mr-8">
            <img class="w-12" src="/images/brand/visa.svg" alt="Paga con visa" />
          </li>
          <li class="mr-4">
            <img class="w-12" src="/images/brand/mastercard.svg" alt="Paga con mastercard" />
          </li>
          <!-- <li class="mr-4">
            <img class="w-12" src="/images/brand/paypal.svg" alt="Paga con paypal" />
          </li> -->
          <li>
            <img class="w-12" src="/images/brand/amex.svg" alt="Paga con american express" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>